<launch>
    <!-- Unilidar SDK Node (Unitree LIDAR L1 Driver) -->
    <include file="$(find unitree_lidar_ros)/launch/run_without_rviz.launch"/>

    <!-- LIO and Mapping nodes -->
    <include file="$(find point_lio_unilidar)/launch/mapping_unilidar_without_rviz.launch"/>

    <!-- Flatness Filter Node-->
    <remap from="/pcl_filter_input" to="/unilidar/cloud"/>
    <remap from="/pcl_filter_output" to="/flatness/cloud_filtered"/>
    <param name="/flatness/x_min" type="double" value="-1.0"/>
    <param name="/flatness/x_max" type="double" value="1.0"/>
    <param name="/flatness/y_min" type="double" value="-1.0"/>
    <param name="/flatness/y_max" type="double" value="-0.5"/>
    <param name="/flatness/z_min" type="double" value="0.0"/>
    <param name="/flatness/z_max" type="double" value="5.0"/>
    <node pkg="point_cloud_filter" type="point_cloud_filter_node" name="pcl_filter" ns="flatness" respawn="true">
        <remap from="/x_min" to="/flatness/x_min"/>
        <remap from="/x_max" to="/flatness/x_max"/>
        <remap from="/y_min" to="/flatness/y_min"/>
        <remap from="/y_max" to="/flatness/y_max"/>
        <remap from="/z_min" to="/flatness/z_min"/>
        <remap from="/z_max" to="/flatness/z_max"/>
    </node>

    <!-- Flatness Calculator Node-->
    <remap from="/pcl_flatness_input" to="/flatness/cloud_filtered"/>
    <remap from="/pcl_flatness_output" to="/flatness/flatness_value"/>
    <node pkg="point_cloud_flatness_calculator" type="point_cloud_flatness_calculator" name="pcl_flatness" ns="flatness" respawn="true"/>

    <!-- Cluster Filter Node-->
    <remap from="/pcl_filter_input" to="/unilidar/cloud"/>
    <remap from="/pcl_filter_output" to="/object_identifier/cloud_filtered"/>
    <param name="/cluster/x_min" type="double" value="-1.0"/>
    <param name="/cluster/x_max" type="double" value="1.0"/>
    <param name="/cluster/y_min" type="double" value="-0.75"/>
    <param name="/cluster/y_max" type="double" value="1.0"/>
    <param name="/cluster/z_min" type="double" value="0.0"/>
    <param name="/cluster/z_max" type="double" value="5.0"/>
    <node pkg="point_cloud_filter" type="point_cloud_filter_node" name="pcl_filter" ns="cluster" respawn="true">
        <remap from="/x_min" to="/cluster/x_min"/>
        <remap from="/x_max" to="/cluster/x_max"/>
        <remap from="/y_min" to="/cluster/y_min"/>
        <remap from="/y_max" to="/cluster/y_max"/>
        <remap from="/z_min" to="/cluster/z_min"/>
        <remap from="/z_max" to="/cluster/z_max"/>
    </node>

    <!-- Object Detection Node -->
    <remap from="/pcl_cluster_input" to="/object_identifier/cloud_filtered"/>
    <remap from="/pcl_cluster_output" to="/object_identifier/clusters"/>
    <node pkg="point_cloud_object_identifier" type="point_cloud_object_identifier" name="object_identifier" ns="object_identifier" respawn="true"/>

    <!-- Audio Feedback Node -->
    <remap from="/pitch" to="/audio/pitch"/>
    <remap from="/volume" to="/audio/volume"/>
    <remap from="/channel" to="/audio/channel"/>
    <remap from="/interval" to="/audio/interval"/>
    <node pkg="play_beep" type="play_beep_node" name="audio_feedback" ns="audio" respawn="true"/>

</launch>
